@model YoTennis.Models.GameHandler

@{
    ViewData["Title"] = "NotStarted";
}

<h2>NotStarted</h2>

<form asp-action="NotStarted">
    <div class="form-horizontal">
        <h4>GameModel</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
