@model AddPostMatchViewModel

@{
    ViewData["Title"] = "Add match";
}

<h2>Add match</h2>



<form asp-action="AddPastMatch" method="post">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group my-center">
            <label asp-for="Date" class="control-label"></label>
            <input asp-for="Date" type="datetime-local" class="form-control center-block" />
            <span asp-validation-for="Date" class="text-danger" />
        </div>

        <div class="form-group my-center">
            <label asp-for="FirstPlayer" class="control-label"></label>
            <input asp-for="FirstPlayer" class="form-control center-block" />
            <span asp-validation-for="FirstPlayer" class="text-danger" />
        </div>
        <div class="form-group my-center">
            <label asp-for="FirstPlayerUserId" class="control-label"></label>
            <input asp-for="FirstPlayerUserId" type="checkbox" class="form-control center-block" />
            <span asp-validation-for="FirstPlayerUserId" class="text-danger" />
        </div>

        <div class="form-group my-center">
            <label asp-for="SecondPlayer" class="control-label"></label>
            <input asp-for="SecondPlayer" class="form-control center-block" />
            <span asp-validation-for="SecondPlayer" class="text-danger" />
        </div>
        <div class="form-group my-center">
            <label asp-for="SecondPlayerUserId" class="control-label"></label>
            <input asp-for="SecondPlayerUserId" type="checkbox" class="form-control center-block" />
            <span asp-validation-for="SecondPlayerUserId" class="text-danger" />
        </div>

        <div class="form-group my-center">
            <label asp-for="FirstPlayerSet1" class="control-label"></label>
            <input asp-for="FirstPlayerSet1" class="form-control center-block" />
            <span asp-validation-for="FirstPlayerSet1" class="text-danger" />
        </div>

        <div class="form-group my-center">
            <label asp-for="SecondPlayerSet1" class="control-label"></label>
            <input asp-for="SecondPlayerSet1" class="form-control center-block" />
            <span asp-validation-for="SecondPlayerSet1" class="text-danger" />
        </div>

        <div class="form-group my-center">
            <label asp-for="FirstPlayerSet2" class="control-label"></label>
            <input asp-for="FirstPlayerSet2" class="form-control center-block" />
            <span asp-validation-for="FirstPlayerSet2" class="text-danger" />
        </div>

        <div class="form-group my-center">
            <label asp-for="SecondPlayerSet2" class="control-label"></label>
            <input asp-for="SecondPlayerSet2" class="form-control center-block" />
            <span asp-validation-for="SecondPlayerSet2" class="text-danger" />
        </div>

        <div class="form-group my-center">
            <label asp-for="FirstPlayerSet3" class="control-label"></label>
            <input asp-for="FirstPlayerSet3" class="form-control center-block" />
            <span asp-validation-for="FirstPlayerSet3" class="text-danger" />
        </div>

        <div class="form-group my-center">
            <label asp-for="SecondPlayerSet3" class="control-label"></label>
            <input asp-for="SecondPlayerSet3" class="form-control center-block" />
            <span asp-validation-for="SecondPlayerSet3" class="text-danger" />
        </div>

        <div class="form-group match-container center-container">
            <div>
                <input type="submit" value="Add match" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>