@model BeginningGameModel

@{
    ViewData["Title"] = "BeginningGame";
}

<h2>Beginning Game</h2>

@Html.Partial("_MatchState", Model.Match)
@Html.Partial("_BeginningGameForm", Model.Form)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
