@model BeginningTiebreakModel

@{
    ViewData["Title"] = "Beginning Tiebreak";
}

<h2>Beginning Tiebreak</h2>

@Html.Partial("_MatchState", Model.Match)
@Html.Partial("_BeginningTiebreakForm", Model.Form)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
