@model ChangingSidesOnTiebreakModel

@{
    ViewData["Title"] = "Changing Sides On Tiebreak";
}

<h2>Changing Sides On Tiebreak</h2>

@Html.Partial("_MatchState", Model.Match)
@Html.Partial("_ChangingSidesOnTiebreakForm", Model.Form)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
