@model YoTennis.Models.Match.NotStartedModel

<form asp-action="ChangeSidesOnTiebreak">
    <div class="match-container game-container">
        <input type="submit" value="Change Sides On Tiebreak" class="btn btn-default" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
