@model ChangingSidesModel

@{
    ViewData["Title"] = "Changing Sides";
}

<h2>Changing Sides</h2>

@Html.Partial("_MatchState", Model.Match)
@Html.Partial("_ChangingSidesForm", Model.Form)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
