@model MatchModel

<div class="">
    <div class=""><p>Time 0:10:00</p></div>
</div>
<div class="">
    <div class="">
        @if (Model.PlayerOnLeft == Player.First)
        {
            <p>L</p>
        }
    </div>
    <div class="">
        @if (Model.PlayerServes == Player.First)
        {
            <p>></p>
        }
    </div>
    <div class="">
        <p>@Model.FirstPlayer</p>
    </div>
    @foreach (var i in Model.Sets)
    {
        <div class=""><p>@i.Score.FirstPlayer</p></div>
    }
</div>
<div class="">
    <div class="">
        @if (Model.PlayerOnLeft == Player.Second)
        {
            <p>L</p>
        }
    </div>
    <div class="">
        @if (Model.PlayerServes == Player.Second)
        {
            <p>></p>
        }
    </div>
    <div class="">
        <p>@Model.SecondPlayer</p>
    </div>
    @foreach (var i in Model.Sets)
    {
        <div class=""><p>@i.Score.SecondPlayer</p></div>
    }
</div>