@model NotStartedModel

@{
    ViewData["Title"] = "Not Started";
}

<h2>Not Started</h2>

@Html.Partial("_MatchState", Model.Match)
@Html.Partial("_StartMatchForm", Model.Form)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
