@model PointCommand

<form asp-action="ServeFail">
    <div class="position-down">
        <input type="submit" value="Serve Fail" class="btn btn-default" />
    </div>
</form>

<form asp-action="NetTouch">
    <div class="position-down">
        <input type="submit" value="Net Touch" class="btn btn-default" />
    </div>
</form>

<form asp-action="Ace">
    <div class="position-down">
        <input type="submit" value="Ace" class="btn btn-default" />
    </div>
</form>

<form asp-action="PointToFirst">
    <div class="position-down">
        <input type="submit" value="Point to @ViewData["FirstPlayerName"]" class="btn btn-default" />
    </div>
</form>

<form asp-action="PointToSecond">
    <div class="position-down">
        <input type="submit" value="Point to @ViewData["SecondPlayerName"]" class="btn btn-default" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}