@model PlayingTiebreakModel

@{
    ViewData["Title"] = "Playing Tiebreak";
}

<h2>Playing Tiebreak</h2>

@Html.Partial("_MatchState", Model.Match)
@Html.Partial("_PlayingTiebreakForm", Model.Form,
    new ViewDataDictionary(ViewData) { ["FirstPlayerName"] = Model.Match.FirstPlayer, ["SecondPlayerName"] = Model.Match.SecondPlayer })

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
