@model PlayingGameModel

@{
    ViewData["Title"] = "Playing Game";
}

<h2>Playing Game</h2>

@Html.Partial("_MatchState", Model.Match)
@Html.Partial("_PlayingGameForm", Model.Form,
    new ViewDataDictionary(ViewData) { ["FirstPlayerName"] = Model.Match.FirstPlayer, ["SecondPlayerName"] = Model.Match.SecondPlayer })

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}