@model ClickCommand
<form asp-action="ClickCommand" id="commandForm">
    <div id="step1" class="game-commands">
        <div>
            <div class="btn-group-vertical" role="group">
                <a id="slow-btn" href="#" onclick="onSpeedClicked('slow')" class="btn btn-default">Slow</a>
                <a id="medium-btn" href="#" onclick="onSpeedClicked('medium')" class="btn btn-default">Medium</a>
                <a id="fast-btn" href="#" onclick="onSpeedClicked('fast')" class="btn btn-default">Fast</a>
            </div>
        </div>
        <div>

            <input type="hidden" asp-for="ServeSpeed" id="serve-speed" />
            <div>
                <div class="position-down">
                    <button class="btn btn-default" onclick="sendFailCommand('ServeFail')">Serve Fail</button>
                </div>

                <div class="position-down">
                    <button class="btn btn-default" onclick="sendFailCommand('NetTouch')">Net Touch</button>
                </div>

                <div class="position-down">
                    <button class="btn btn-default" onclick="sendPointCommand('Ace')">Ace</button>
                </div>

                <div class="position-down">
                    <button class="btn btn-default" onclick="sendPointCommand('PointToFirst')">Point to @ViewData["FirstPlayerName"]</button>
                </div>

                <div class="position-down">
                    <button class="btn btn-default" onclick="sendPointCommand('PointToSecond')">Point to @ViewData["SecondPlayerName"]</button>
                </div>
            </div>
        </div>
    </div>
    <div id="step2" style="display: none;" class="game-commands">@Html.Partial("PointGameSpecifiy")</div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
