<div class="game-commands">
    <div>
        <div id="player-who-got-point">
            Player who got point
        </div>
        <div>
            <button class="btn btn-default" onclick="setPointKind('Forehand')">Forehand</button>
        </div>
        <div>
            <button class="btn btn-default" onclick="setPointKind('Backhand')">Backhand</button>
        </div>
        <div>
            <button class="btn btn-default" onclick="setPointKind('NetPoint')">Net Point</button>
        </div>
    </div>
    <div>
        <div id="player-who-lost-point">
            Player who lost point
        </div>
        <div>
            <button class="btn btn-default" onclick="setPointKind('Error')">Error</button>
        </div>
        <div>
            <button class="btn btn-default" onclick="setPointKind('UnforcedError')">Unforced Error</button>
        </div>        
    </div>
    <div>
        <div>
            <button class="btn btn-default">Skip</button>            
        </div>
    </div>
</div>
