<div class="game-commands">
    <div>
        <div id="player-who-got-point">
            Player who got point
        </div>
        <div>
            <button class="btn btn-default">Forehand</button>
        </div>
        <div>
            <button class="btn btn-default">Backhand</button>
        </div>
        <div>
            <button class="btn btn-default">Net Point</button>
        </div>
    </div>
    <div>
        <div id="player-who-lost-point">
            Player who lost point
        </div>
        <div>
            <button class="btn btn-default">Error</button>
        </div>
        <div>
            <button class="btn btn-default">Unforced Error</button>
        </div>        
    </div>
    <div>
        <div>
            <button class="btn btn-default">Skip</button>            
        </div>
    </div>
</div>
